# macOS
.DS_Store

# Swift Package Manager
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata

# Xcode
*.xcworkspace
*.xcuserstate
*.xcscheme
*.xccheckout
*.moved-aside
*.xcscmblueprint

# Other
.netrc
*.log
*.tmp
*~
